@media screen and (max-width: 1100px) {
  .userInfo>span:nth-child(2n):before {
    display: none;
  }

  .userInfo>span:nth-child(3n):before {
    display: none;
  }

  .userInfo {
    flex-direction: column;
  }
}

body {
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  width: 75vw;
  margin: 20px auto;
  min-width: 800px;
  max-width: 1000px;
}

h1 {
  font-weight: 400;
  margin: 5px;
}

.divider {
  position: relative;
  height: 10px;
}

.transparent:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(to right, rgb(48, 49, 51), transparent);
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  background-color: lightblue;
  width: 250px;
  padding: 20px;
  border-radius: 5px;
  margin: 10px 20px 10px 0;
  position: relative;
}

.card>div {
  color: darkblue;
}

.icon {
  width: 20px;
  position: absolute;
  right: 20px;
}

.text>div {
  padding-bottom: 2px;
}

.name {
  font-weight: bold;
}

.userInfo {
  display: flex;
  justify-content: space-around;
  font-style: italic;
  color: rgb(75, 75, 75);
  align-items: center;
  margin: 10px auto 100px;
  max-width: 855px;
}

.userInfo>span:nth-child(2n):before {
  content: '—';
  margin: 0 50px;
  color: lightgray;
}

.userInfo>span:nth-child(3n):before {
  content: '—';
  margin: 0 50px;
  color: lightgray;
}

.thumbnailWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumbnailWrapper>img {
  margin: 5px;
}

.thumbnailWrapper>img:hover {
  transform: scale(1.1);
}

.zoomIn {
  transform: scale(2);
}

.photoViewerWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 2;
}

.closeIcon {
  position: absolute;
  top: 0;
  right: 10px;
}

.photoViewer {
  position: absolute;
  top: 150px;
  left: 50%;
  width: 600px;
  height: auto;
  transform: translate(-50%, 0);
  z-index: 3;
}

.breadcrumb {
  width: 100%;
  height: 37px;
  background-color: rgb(238, 238, 238);
  line-height: 35px;
}

.breadcrumb>a {
  text-decoration: none;
  margin: 0 0 0 10px;
  color: blue;
}

.breadcrumb>a:nth-child(2n)::before {
  content: '/';
  display: inline-block;
  margin-right: 10px;
}

.breadcrumb>a:nth-child(3n)::before {
  content: '/';
  display: inline-block;
  margin-right: 10px;
}

.titleBold {
  font-weight: 700;
}

.titleSemiBold {
  font-weight: 600;
}

.titleMargin {
  margin-top: 30px;
}

.titleCenter {
  text-align: center;
}

.photoSubTitle {
  font-style: italic;
  text-align: center;
  display: block;
  margin: 10px 0 70px;
}
